/* ***** BUILDFTW.ORG CSS ***** */

/* ***** THIS WILL NEED TO BE ADJUSTED FOR DIFFERENT SCREENS. ***** */

/* ***** PRELIMINARY VERSION ***** */

@font-face{
	font-family: 'Chunkfive';
	src: url('Chunkfive.otf');
}

@font-face{
	font-family: 'CreteRound';
	src: url('CreteRound-Regular.otf');
}

body.html {
	margin:0;
}

.page {
	background:#fafafa;
}

h1, h2, h3, h4, h5, h6, .field-label {
  font-family:'Chunkfive','Lucida Sans Unicode',sans-serif;*/
	color: #333;
}

h1 {
	font-size: 2.4em;
	line-height: 1.4em
}

h1,
h2 {
  font-weight: normal;
}

p, body {
	font-family:'CreteRound',sans-serif;
	font-size:1em;
	color:#545454;
	line-height:1.5em;
}

p.front-lead {
	font-family: 'Chunkfive';
}

a {
	color:#191919;
}

a:hover {
	color:#80EA4B;
}

/* ************************** USER BAR ******************************* */

#zone-user-wrapper{
	background-color:#333;
	padding:3px 0;
}

#zone-user #block-system-user-menu {
	display:inline-block;
	float:left;
}

#zone-user #block-system-user-menu ul {
	padding:0;
}

#zone-user li{
	display:inline;
	list-style-type:none;
}

#zone-user a {
	font-family:'CreteRound','Lucida Sans Unicode',sans-serif;
	font-size:.9em;
	text-decoration:none;
	font-style: normal;
	color: white;
}

#zone-user a:hover{
	color: #80EA4B;
}

#zone-user li .active{
	color: #80EA4B;
}

#zone-user #block-logintoboggan-logintoboggan-logged-in, #block-menu-menu-register-login{
	display:inline-block;
	float:right;
}

.block-logintoboggan {
	display:inline-block;
	position:relative;
	float:right;
	padding-left:0;
}

/* ****************************** BRANDING (currently empty) ************************ */

/* ***** MAIN MENU ***** */


#zone-menu-wrapper {
}

#region-menu {
	padding: 10px 0;
}

div#block-system-main-menu{
	display:inline-block;
	float:left;
	padding: 10px 0;
}

div#block-system-main-menu ul.menu {
	padding-top: 5px;
}

div#block-system-main-menu ul.menu li {
	list-style: none;
	display: inline-block;
	margin: 0 0.5em;
}

div#block-system-main-menu ul.menu li a {
	font-family:'Chunkfive','Lucida Sans Unicode',sans-serif;
	text-decoration:none;
	color: #545454;
	font-size: 1.4em;
}

#block-system-main-menu ul.menu a:hover {
	border-bottom: 5px solid #545454;
}

div#block-system-main-menu ul.menu a.active {
	border-bottom: 5px solid #80EA4B;
}

div#block-search-form {
	float: right;
}

form[id="search-block-form"] {
	position: relative;
}

div#block-search-form input {
	width: 250px;
	font-size: 1.3em;
	color: #999;
}

#block-search-form input.form-submit {
	background: url(../images/spyglass_gray.png) no-repeat center center !important;
	top: 5px;
	right: 0;
	height: 40px;
	width: 40px;
	border: none;
	position: absolute;
	color: transparent;
}



/* ************************ SUBMENU ********************************** */

div#zone-submenu {
	border-bottom-style: dotted;
	border-color:#545454;
	border-width:1px;
}

#zone-submenu-wrapper .menu li {
	display:inline-block;
	list-style-type:none;
	padding-bottom:5px;
}

#zone-submenu-wrapper .menu a {
	font-family:'CreteRound','Lucida Sans Unicode',sans-serif;
	font-size:1.3em;
	color:#191919;
	text-decoration:none;
	font-style: normal;
}

#zone-submenu-wrapper .menu a:hover{
	color:#7ecb3d;
}

#zone-submenu-wrapper .menu li .active{
	color:#7ecb3d;
}


/* **************************** BREADCRUMB ********************************** */

/* **************************** FRONT PAGE ********************************* */

.front #zone-content {
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
	width:100%;
}

.front #region-content {
	margin-left:0;
	margin-right:0;
	width:100%;
}

.front-top {
	margin: 2em auto;
	padding-bottom: 2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-size: 3em;
	margin-bottom: 2em;
	width: 90%;
	max-width: 880px;
}

.front-top p {
	font-size: 40px;
}


.front-top a {
	background-color: #1faffa; /* rgb(31, 175, 250) */
	padding: 0.2em 1em;
	font-size: 35px;
	color: white;
	text-decoration: none;
	position: absolute;
	right: 10px;
}

.front-top a:hover {
	box-shadow: 0 2px 5px 0 #999;
}

.blurb-wrapper {
	padding: 2% 1%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.front-blurb h2 {
	text-align: center;
	background-color: #aaa;
	color: white;
	font-size: 2em;
	padding: 0.6em;
}

.front-blurb p {
	font-size: 1.4em;
	background-color: white;
	margin: 0;
	padding: 1em;
	border: 3px solid #aaa;
	border-top: none;
	color: #666;
}

div.openlayers-views-map {
	border-top:3px solid #aaa;
	border-bottom:3px solid #aaa;
	margin: 4em 0;
}

/* ******************************* POSTSCRIPT ****************************** */

/* ***** FOOTER ***** */

footer#section-footer{
	background-color:#333;
	padding: 0.2em 0;
	margin-top:15px;
}

footer#section-footer p {
	color:white;
	font-size:.8em;
	text-align: center;
}

footer#section-footer a{
	color:#80EA4B;
	text-decoration:none;
}

footer#section-footer a:hover{
	text-decoration:underline;
}

/*  Register and login forms */

.hybridauth-widget-wrapper ul.hybridauth-widget li {
	display: block;
	padding: 2em 0;
}

.hybridauth-widget span {
/*	border: 1px solid;
	height: 50px;
	display: block;
	background: red;*/
}


.edit-field-tags-und-autocomplete-aria-live{
	top:10px;
}

/* tabs */

.tabs li a {
	color:#191919;
}

/* *********** PROJECT PROFILE PAGES AND RELATED BITS  ********* */


.node-type-project #zone-content {
	padding-top: 2em;
}

.node-type-project #zone-content.fixed {
	margin-top: 5em;
}

.node-type-project .inside {
	position: relative;
	/*z-index: 10;*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.node-type-project #page-title{
	font-size:2.4em;
	line-height: 2em;
}

.node-type-project .pane-delta-blocks-page-title {
	position: static;
	float: left;
}

.node-type-project .pane-delta-blocks-page-title.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0px;
	padding: 10px 0px 10px 60px;
	background-color: #333;
	box-shadow: 0px 2px 5px rgb(204, 204, 204);
	z-index: 10;
}

.node-type-project .pane-delta-blocks-page-title.fixed #page-title {
	font-size: 20px;
	line-height: 1.2em;
	color: #fff;
}

/*
.pane-node-field-background-image {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: -1;
}
*/

div.proj-button{
	display:inline-block;
	position:relative;
	float: right;
	margin-left: 20px;
}

.proj-button a {
	display:block;
	text-align:center;
	padding:10px 0;
	width:100px;
	text-decoration: none;
	background: #80EA4B;
	cursor: pointer;
}

.proj-button.blue a {
	background-color: #1faffa;
	color: white;
}

.proj-button a:hover {
	box-shadow: 0 2px 5px 0 #666;
	color: #191919;
}

.proj-button.blue a:hover {
	color: white;
}

.proj-button a:active {
	box-shadow: inset 0 2px 5px 0 #666;
	color:#191919;
}

.proj-button .field-type-list-boolean .field-item {
	display:block;
	text-align:center;
	padding:10px 0;
	width:100px;
	background: #545454;
	color: #80EA4B;
}

.pane-node-field-donate-link {
	position: static;
}

.pane-node-field-donate-link.fixed {
	position: fixed;
	top: 0px;
	z-index: 11;
	right: 20px;
}

.pane-node-field-donate-link.fixed a {
	padding: 3px;
	width: 80px;
	margin: 7px 0px;
}

.pane-node-field-site-categories {
	clear: left;
	margin: 1em 0;
}

.pane-node-field-site-categories a {
	padding: 5px;
/*	background-color: #d7f8c6;*/
	background-color: #efefef;
	text-decoration: none;
}

.pane-node-field-project-website {
	clear: left;
	margin: 1em 0;
}

.pane-node-field-project-website a {
	background-color: #efefef;
	padding: 5px;
	text-decoration: none;
}

.read-more {
	text-align: center;
	font-size: 0.8em;
}

.read-more a {
	text-decoration: none;
}

.read-more a:hover {
	color: #191919;
	text-decoration: underline;
}

.pane-node-field-project-short-description {
	font-size: 1.8em;
	line-height: 1.3em;
	text-align: center;
	margin-top: 50px;
}

.pane-node-body {
	line-height: 1.5em;
	display: none;
}

.pane-node-body .field-name-body {
	border: 3px solid #999;
	border-left: none;
	border-right: none;
	padding: 2em 4em;
	margin: 2em;
	background-color: #fafafa;
}

.pane-node-create-links {
	padding: 1em;
	background-color: #ddd;
	border: 1px dashed #aaa;
	text-align: center;
	margin: 2em 0;
}

.pane-node-create-links h2,
.pane-node-create-links .pane-content,
.pane-node-create-links li {
	display: inline-block;
}

.pane-node-create-links ul {
	margin: 0;
}

#og-create-content-ajax #section-content {
	background: none repeat scroll 0% 0% white;
	box-shadow: 0px 2px 5px rgba(10, 10, 10, 0.3);
	margin-bottom: 1em;
}

#og-create-content-ajax #section-content h1 {
	width: 0;
	height: 0;
	overflow: hidden;
}

#og-create-content-ajax #section-content label {
	width: 0;
	height: 0;
	overflow: hidden;
}



/* *** SIDEBAR ***  */


/*

#project-profile-map {
	border:solid 2px #545454;
	border-radius:3px;
	margin-top:12px;
}


*/

/* ***** MAIN PROJECT CONTENT *****  */


/*



.node-type-project .flag-throbber,
.node-type-project .flag-message {
	display:inline-block;
	position:relative;
	float:right;
	clear:right;
	top:0;
}

*/

/* ***** LOG BOOK UPDATE ***** */


.node-type-project .views-row {
	background-color: white;
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 0px 2px 5px rgba(10,10,10,0.3);
}

.node-type-project  .user-picture{
	display: inline-block;
	float: left;
	margin: 0 7px 7px 0;
}

.node-type-project .author-name {
	position: relative;
	float: left;
	margin-top: 4px;
}

.node-type-project  .author-name a {
	color:#a3a3a3;
	text-decoration: none;
}

.node-type-project .author-name a:hover {
	color:#686868;
}

.node-type-project  .date-created {
	position: relative;
	float: right;
	color:#a3a3a3;
	margin-top: 4px;
}

.node-type-project .node-title {
	font-size: 1.5em;
	line-height: 1.2em;
	clear: left;
}

.node-type-project .node-title a {
	text-decoration: none;
	color: #666;
}
.node-type-project .node-title a:hover{
	text-decoration: underline;
	color:#666;
}

.node-body {
	margin-top: 10px;
}

.reports-body img {
	float: right;
	margin: 0 0 7px 7px;
}

.node-body p {
	font-size: 0.9em;
	line-height: 1.5em;
}

.node-body br {
	line-height: 2.3em;
}

.node-item .node-tags a {
	padding: 3px 5px;
	margin: 0 3px;
	background-color: #fafafa;
	border-radius: 8px;
	color: #545454;
	text-decoration: none;
}

.node-item .node-tags a:hover{
	background-color: #dddddd;
}

/* ***** PROJECTS VIEW PAGE ***** */

.page-projects h1{

}

.page-projects .region-content-inner{

}

.masonry-brick {
	background-color:white;
	margin-bottom: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.masonry-brick:hover {
	box-shadow: 0 2px 5px 0 #999;
}

.masonry-brick .views-field-title{
	font-size:1.1em;
	line-height:1.2em;
	text-align:center;
	background:#aaaaaa;
	padding:3px;
}

.masonry-brick .views-field-title:hover{
	background:#666;
	padding:3px;
}

.masonry-brick .views-field-title a{
	padding:0 10px;
	text-decoration:none;
	color: white;
}

.masonry-brick .views-field-title a:hover{
	color:#80EA4B;
}

.masonry-brick .views-field-field-project-short-description,
.masonry-brick .views-field-field-asset-file {
	padding:6px;
}

.masonry-brick .views-field-og-group-ref ul,
.masonry-brick .views-field-og-group-ref-1 ul {
	margin: 0;
}

.masonry-brick .views-field-og-group-ref li,
.masonry-brick .views-field-og-group-ref-1 li {
	padding: 5px 0;
	margin: 0;
	text-align: center;
}

.masonry-brick .views-field-field-tags {
	padding: 6px;
	text-align: center;
}

.masonry-brick .views-field-field-project-address {
	text-align:center;
}

.masonry-brick .views-field-field-site-categories {
	text-align:center;
	background:#efefef;
	padding:3px;
}

.masonry-brick .views-field-field-site-categories a{
	text-decoration:none;
}
.masonry-brick .views-field {
	border: 3px solid #aaaaaa;
	border-top: none;
	border-bottom: none;
}

.masonry-brick .views-field-field-site-categories {
	border: 3px solid #aaaaaa;
	border-top: none;
}

.masonry-brick .views-field-title {
	border: none;
}

/* ********** PROJECTS LIST PAGE SIDEBAR ************* */

.page-projects #section-content,
.page-resources #section-content {
	min-height: 600px;
}

.page-projects .views-exposed-widgets,
.page-resources .views-exposed-widgets {
	position: static;
	margin-top: 100px;
}

.page-projects .views-exposed-widgets.fixed,
.page-resources .views-exposed-widgets.fixed {
	position: fixed;
	top: 50px;
	margin-top: 0;
	width: 21.1%;
}

.page-projects .grid-9.region.region-content.fixed,
.page-resources .grid-9.region.region-content.fixed {
	margin-left: 26%;
}

.page-projects .region-sidebar-first h2{
	font-size: 1.5em;
	line-height: 1.5em;
}

.bef-select-as-radios .form-item {
	/*margin-bottom: 1.1em;*/
}

.bef-select-as-radios .form-item input,
.bef-select-as-checkboxes-fieldset .form-item input {
	display: none;
}

.bef-select-as-radios,
.bef-select-as-checkboxes-fieldset {
	text-align: right;
}

.bef-select-as-radios label,
.bef-select-as-checkboxes-fieldset label {
	/*margin: 0.5em 0;*/
	text-decoration: none;
  color: #999;
  font-size: 1em;
  background-color: #fafafa;
  padding: 2px 10px;
  display: block;
}

.bef-select-as-radios label:hover,
.bef-select-as-checkboxes-fieldset label:hover {
	box-shadow: 0px 2px 3px rgba(10,10,10,0.3);
	cursor: pointer;
	border-radius: 2px;
	background-color: #fcfcfc;
}

.bef-select-as-radios label:active,
.bef-select-as-checkboxes-fieldset label:active {
	box-shadow: inset 0px 2px 5px rgba(10,10,10,0.3);
	cursor: pointer;
	background-color: #fcfcfc;
}


.bef-select-as-radios input[type=radio]:checked + label,
.bef-select-as-checkboxes-fieldset input[type=radio]:checked + label {
	box-shadow: inset 0px 2px 5px rgba(10,10,10,0.3);
	background-color: #f8f8f8;
}

#edit-field-project-address-locality-wrapper{
	margin-top:15px;
	padding-top:10px;
	border: #aaa solid;
	border-width: 3px 0 0 0;
}

#edit-field-project-address-locality-wrapper label{
	font-size:1.1em;
	font-weight:bold;
	line-height:1.6em;
	color:#474747;
}

input#edit-field-project-address-locality {
	width:100%;
}


/* ***** QUESTIONS AND ANSWERS ***** */

.context-questions .zone-content-wrapper h1{
	font-size:1.4em;
	line-height:1.3em;
	margin:10px 0;
	color:#474747;
}

.context-questions .zone-content-wrapper .content .field-name-body{
	background-color:white;
	padding:10px;
	margin:10px 0;
	outline: 1px solid;
}

/*  ***************  main list view *****************************   */

.context-questions .views-submit-button{
	top:-28px;
	padding:6px;

}

.context-questions .zone-content-wrapper .views-field {
	padding-right:5px;
}

.context-questions .zone-content-wrapper .views-exposed-widgets{
	position:relative;
	display:inline-block;
}

.context-questions .zone-content-wrapper .views-field-field-answer-count{
	position:relative;
	display:inline-block;
}

.context-questions .zone-content-wrapper .views-field-field-answer-count .field-content{
	text-align:center;
	font-size:1.4em;
}

.context-questions .zone-content-wrapper .views-field-totalcount .field-content{
	display:block;
	text-align:center;
	font-size:1.4em;
}

.views-label-field-answer-count, .views-label-totalcount {
	font-size:.8em;
	font-weight:300;
	text-align:center;
}

.context-questions .zone-content-wrapper .views-field-totalcount{
	position:relative;
	display:inline-block;
}

.context-questions .zone-content-wrapper .views-field-title{
	position:relative;
	display:inline;
}

.context-questions .zone-content-wrapper .views-field-title a{
	color:#7ecb3d;
	text-decoration:none;
	font-size:1.2em;
}

.context-questions .zone-content-wrapper .views-field-created{
	position:relative;
	display:inline-block;
	float:right;
}

.context-questions .zone-content-wrapper .views-field-name{
	position:relative;
	display:inline-block;
	float:right;
	clear:right;
}

.page-questions div.views-row{
    padding: 10px 0;
    border-top: dotted 1px #545454;
}

/* ***** PROJECT CONTENT ***** */

#page {
  overflow-y: hidden;
}

html.js input.form-autocomplete {

  background-position: 100% 10px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -11px; /* LTR */
}


/* ************** GENERAL FORMS STUFF ******************* */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]  {
	border: 1px solid #cdcdcd;
	box-shadow: inset 0px 1px 2px #dcdcdc;
	background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  background-color: #dddddd;
}

input#edit-search-block-form--2 {
	margin: 0;
}

textarea {
  height: auto;
  min-height: 50px;
}

/*

.form-item label,
div.ctools-modal-content .form-item label {
	width: 6em;
	line-height: 20px;
	font-size: 1.3em;
}

.form-item .description,
div.ctools-modal-content .form-item .description {
	color:#666666;
	padding-left: 9em;
}

div.ctools-modal-content .form-item.form-type-textarea label,
.form-item.form-type-textarea label {
	width: auto;
	margin-bottom: 5px;
}

div.ctools-modal-content .form-item.form-item-body-und-0-format label,
.form-item.form-item-body-und-0-format label {
	width: auto;
	font-size: 0.9em;
	line-height: 27px;
	padding-right: 10px;
}

div.form-textarea-wrapper {
	clear: left;
}

a.link-edit-summary {
	text-decoration: none;
	color: #33aa00;
}

a.link-edit-summary:hover {
	text-decoration: underline;
}

div.wysiwyg-toggle-wrapper a,
div#edit-body-und-0-format-help a {
	text-decoration: none;
	font-size: 0.8em;
	color: #33bb00;
}

div.wysiwyg-toggle-wrapper a:hover,
div#edit-body-und-0-format-help a:hover {
	text-decoration: underline;
}

fieldset#edit-body-und-0-format{
	border: 1px solid #cacaca;
	border-top: none;
	margin-top: 0 !important;
}

div#modal-content.modal-content form.node-form div#edit-body.field-type-text-with-summary div#body-add-more-wrapper div.text-format-wrapper fieldset.filter-wrapper div.fieldset-wrapper {
	border: none;
	float: none;
	margin: none;
	padding: none;
	background: #fafafa;
	width: auto;
}

div#edit-body-und-0-format-guidelines li {
	list-style-type: disc;
	font-size: 0.8em;
}

div.form-type-managed-file div.description {
	font-size: 0.8em;
	padding-left: 9.8em !important;
}

input[type="text"],
input[type="password"],
div.field-type-addressfield select {
	padding:3px;
	border:solid 1px #b6b6b6;
	border-radius:1px;
	font-family:'Helvetica',sans-serif;
	font-size:1em;
	background: none no-repeat scroll -38px -22px, -moz-linear-gradient(center top , #EEEEEE 1%, #FFFFFF 15%) repeat scroll 0 0 transparent;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	width: auto;
	color: #666666;
}

input[type="text"]:focus,
input[type="password"]:focus,
div#addressfield-wrapper select:focus {
	box-shadow: 0 0 7px #0066FF;
    z-index: 1;
}

form.node-form div div.field-type-list-text div.form-item div.form-radios div.form-item label.option {
	font-size: 0.9em;
	color: #666666;
}

form.node-form fieldset.form-wrapper legend {
	float: left;
    font-size: 1.3em;
    width: 6em;
}

form.node-form fieldset {
	margin-top: 20px;
}

form.node-form div.form-wrapper fieldset div.fieldset-wrapper div.form-item label {
	font-size: 1em;
}

form.node-form div.form-wrapper fieldset div.fieldset-wrapper div.form-item .description {
	padding-left: 0;
}

form.node-form fieldset.form-wrapper div.fieldset-wrapper {
	background: none repeat scroll 0 0 white;
    border: 1px solid #CACACA;
    float: left;
    padding-left: 20px;
    width: 30.5em;
}

div#field-date-add-more-wrapper fieldset.form-wrapper div.fieldset-wrapper label {
	width: 2em;
}

.date-no-float {
	width: auto;
}


div.field-type-addressfield div.form-item label {
	width: 6em;
}

.addressfield-container-inline > div.form-item {
	clear: left;
	margin-top: 0;
}
*/
input[type="submit"],
.form-managed-file .form-submit {
	width: auto;
	padding: 5px 10px;
	margin:0 3px;
	color: #545454;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DDDDDD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#DDDDDD 100%);  Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #FFFFFF 0%,#DDDDDD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%,#DDDDDD 100%); /* IE10+ */
	background: linear-gradient(top bottom, #FFFFFF 0%,#DDDDDD 100%); /* W3C */
	font-family:'Helvetica','Lucida Sans Unicode',sans-serif;
	font-size: 1em;
	text-decoration: none;
	text-shadow:none;
	font-weight:300;
	border-radius:2px;
}

input[type="submit"]:hover,
.form-managed-file .form-submit:hover {
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #AAAAAA 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#AAAAAA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#AAAAAA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%,#AAAAAA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%,#AAAAAA 100%); /* IE10+ */
	background: linear-gradient(top bottom, #FFFFFF 0%,#AAAAAA 100%); /* W3C */
}
/*
.form-managed-file .form-file {
	font-size: 1.2em;
	height: 1.66em;
	margin-right: 30px;
}

div.file-widget {
	margin-bottom: 5px;
}

div.autocomplete-deluxe-multiple {
	padding: 3px;
	width: 38.5em;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
	box-shadow: none;
	width: auto;
	margin: 0;
}

div#edit-field-cc-license > div.form-item > label {
	width: 6.5em;
}

div#edit-group-audience {
	clear: left;
}
*/
/* ************** CTOOLS AUTOMODAL FORMS ******************* */

/*
div.ctools-modal-content {
	overflow: hidden;
	width: auto;
	color: #474747;
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #545454;
    border-radius: 1px 1px 1px 1px;
}

div.ctools-modal-content .modal-header{
	background-color: #545454;
	padding: 4px 6px 4px 16px;
}

div.ctools-modal-content .modal-title {
	font-weight: normal;
}

div.ctools-modal-content a.close {
	display: block;
	height: 14px;
	padding-top: 8px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 14px;
}

div.ctools-modal-content a.close {
	background: url(../images/x_lt.png) no-repeat center;
}

div.ctools-modal-content a.close:hover {
	background: url(../images/x_dk.png) no-repeat center;
}

form#project-node-form div.form-item label {
	width: 9em;
}

div.ctools-modal-content .form-item label.option {
	font-size: 1em;
}

form#project-node-form .form-item .description {
	padding-left: 13.8em;
}

form#project-node-form .form-checkboxes {
	background: none repeat scroll 0 0 white;
    border: 1px solid #CACACA;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    padding: 7px 0 7px 15px;
    width: 30.7em;
}

div.form-item-field-site-categories-und-other {
	padding-left: 11.7em;
}

form#project-node-form div.form-item-field-have-address label {
	width: auto;
	font-size: 1.1em;
}

form#project-node-form div.form-item-field-have-address div.form-radios label {
	font-size: 1em;
}

form#project-node-form fieldset.form-wrapper legend {
	float: left;
    font-size: 1.3em;
    width: 9em;
}

form#project-node-form fieldset.form-wrapper div.form-item label {
	width: 6em;
}

div#edit-field-project-map-alt {
	padding-left: 11.7em;
    width: 31.7em;
}

div.openlayers-container-map-place-picker-map {
	border: 2px solid #545454;
	border-radius: 2px;
}

div#edit-field-partner-email {
	display: none;
}
*/
/* ********************** ANY OTHER FORM STUFF ************************** */

textarea.statuses-submit {
	min-height: 37px;
}

input.statuses-submit {
	position: relative;
	float: right;
	width: 35px;
	height: 35px;
	background: url(../images/comment_lt.png) no-repeat center;
	text-indent: 40px;
	white-space: nowrap;
	overflow: hidden;
}

.statuses-update .button {
	border: none;
	margin: 4px 4px 0 4px;
	background-color: #fafafa;
}

.statuses-update .button:hover{
	background-color: #fafafa;
}

input.statuses-submit:hover,
.fbss-comments-form .form-submit:hover {
	background: url(../images/comment_dk.png) no-repeat center;
}

/* ************************ USER PROFILES **************************** */

div#user-profile-page {
	margin-top: 20px;
}

div.pane-user-picture {
	float: left;
	margin: 0 40px 20px 0;
}

div.view-user-picture img {
    padding: 8px;
    box-shadow: 0px 0px 5px 0px #CACACA;
	border-radius: 3px;
	background: white;
}

div.view-user-picture .views-field-name {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

div.pane-user-info {
	float: left;
}

.views-field-field-ind-first-name,
.views-field-field-ind-last-name {
	position: relative;
	display: inline-block;
	float: left;


}

.views-field-field-ind-first-name h2,
.views-field-field-ind-last-name h2 {
	font-size: 3em;
	color: #545454;
	padding-right: 15px;
	line-height: 1em;
}

.views-field-field-ind-descr {
	float: left;
	clear: left;
	font-size: 1.4em
}

.views-field-field-ind-assets,
.views-field-field-ind-proj-interests {
	float: left;
	clear: left;
}

.views-field-field-ind-site,
.views-field-field-ind-twitter-id,
.views-field-contact {
	float: right;
}

.views-field-edit-node {
	float: right;
	clear: right;
}

div.panel-pane.pane-views.pane-og-user-groups {
	float: left;
	clear: left;
	width:200px;
}

div.view-og-user-groups div.view-content {
	font-size: 0.9em;
}

div.view-og-user-groups a {
	color:#545454;
	text-decoration: none;
}

div.view-og-user-groups a:hover {
	text-decoration: underline;
}

div.pane-view-user-content {
	float: left;
	width: 70%;
	margin-left: 20px;
	padding: 10px 20px;
	background: white;
	box-shadow: 2px 2px 8px 3px #CACACA;;
}
